<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="javdevSessionFactory">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">topo</property>
		<property name="hibernate.connection.url">jdbc:postgresql:javdev</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.default_schema">javdev</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

		<mapping class="com.javdev.core.pojo.DocumentType" />
		<mapping class="com.javdev.core.pojo.Gender" />
		<mapping class="com.javdev.core.realm.model.JavDevToken" />
		<mapping class="com.javdev.core.pojo.JavDevUser" />
		<mapping class="com.javdev.core.pojo.JavDevUserRole" />
		<mapping class="com.javdev.core.pojo.Role" />
	</session-factory>
</hibernate-configuration>
